In [1]:
#### Notebook Imports
import numpy as np

In [2]:
from random import randint as rand

### CS229 Week 1 Algorithms
---
1. Linear Model (for regression)
2. Least Mean Squares cost function
3. Batch Gradient Descent
4. Stochastic Gradient Descent
5. Normal Equations

### Linear Model (Hypothesis Function)
---
\begin{equation}
h_\theta(x) = \sum_{i=0}^{n} \theta_ix_i
\end{equation}

Here: $\theta_0$ will be bias/intercept of the linear equation and $x_0$ will be a 1 vector

In [3]:
h = lambda theta, x: np.sum(theta*x)

### Least Mean Squares
---
\begin{equation}
J(\theta) = \frac{1}{2} \sum_{i=1}^{m} (h_\theta(x^{(i)}) - y^{(i)})^2 \\
\frac{\partial J}{\partial \theta_j} = \sum_{i=1}^{m} (h_\theta(x^{(i)}) - y^{(i)})x^{(i)}_j
\end{equation}

In [2]:
J = lambda theta, x, y: (1/2)*np.sum(h(theta, x) - y)**2

dJ_dtheta = lambda theta, x, y: np.sum(h(theta, x) - y)

### Batch Gradient Descent
---

\begin{equation}
\theta_{j+1} := \theta_j - \alpha \frac{\partial J}{\partial \theta_j} \\
\theta_{j+1} := \theta_j - \alpha (\sum_{i=1}^{m} (h_\theta(x^{(i)}) - y^{(i)})x^{(i)}_j)
\end{equation}
repeat until convergence {
\begin{equation}
\theta_{j+1} := \theta_j - \alpha (\sum_{i=1}^{m} (h_\theta(x^{(i)}) - y^{(i)})x^{(i)}_j)
\end{equation}
}

In [3]:
nextTheta = lambda theta, X, Y, alpha: theta + alpha*dJ_dtheta(theta, X, Y)

### Stochastic Gradient Descent
---

\begin{equation}
\theta_{j+1} := \theta_j - \alpha \frac{\partial J}{\partial \theta_j} \\
\theta_{j+1} := \theta_j - \alpha (h_\theta(x^{(i)}) - y^{(i)})x^{(i)}_j
\end{equation}
repeat until converge {
\begin{equation}
\theta_{j+1} := \theta_j - \alpha (h_\theta(x^{(i)}) - y^{(i)})x^{(i)}_j
\end{equation}
}

In [8]:
stochastic_dJ_dtheta = lambda theta, x, y: y[rand(0, len(y))] - h(theta, x[rand(0, len(x))]) * x[rand(0, len(x))]

In [64]:
stochastic_nextTheta = lambda theta, X, Y, alpha: theta + alpha*stochastic_dJ_dtheta(theta, X, Y)

### Normal Equations
---

\begin{equation}
\theta = (X^TX)^{-1}X^Ty
\end{equation}

In [9]:
ftheta = lambda X, Y: np.linalg.pinv(np.transpose(X)*X)*np.transpose(X)*Y

In [10]:
from sklearn import datasets
import pandas as pd

In [11]:
df = pd.read_csv("ex1data1.txt")

In [12]:
df.columns = ['X', 'Y']

In [13]:
X = df['X']
Y = df['Y']

In [14]:
X

0      5.5277
1      8.5186
2      7.0032
3      5.8598
4      8.3829
       ...
91     5.8707
92     5.3054
93     8.2934
94    13.3940
95     5.4369
Name: X, Length: 96, dtype: float64

In [52]:
df = pd.DataFrame()

In [53]:
df['C'] = np.ones(X.shape)

In [54]:
df['X'] = X

In [55]:
df

      C        X
0   1.0   5.5277
1   1.0   8.5186
2   1.0   7.0032
3   1.0   5.8598
4   1.0   8.3829
..  ...      ...
91  1.0   5.8707
92  1.0   5.3054
93  1.0   8.2934
94  1.0  13.3940
95  1.0   5.4369

[96 rows x 2 columns]

In [69]:
X_ = np.array(df)

In [60]:
thetaDF = pd.DataFrame()

In [62]:
thetaDF['C'] = np.ones(X.shape)

In [63]:
thetaDF['TX'] = np.zeros(X.shape)

In [70]:
theta = np.array(thetaDF)